@model List<WebProspectos.Models.TableViewModels.TablaProspectosViewModel>

@{
    ViewBag.Title = "Lista de prospectos";
}

<h2>Lista de prospectos</h2>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead class="table-dark text-white-50">
                <tr>
                    <th>Nombre</th>
                    <th>Primer apellido</th>
                    <th>Segundo apellido</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            @foreach (var objElemento in Model)
            {
                <tr>
                    <td>@objElemento.Nombre</td>
                    <td>@objElemento.PrimerApellido</td>
                    <td>@objElemento.SegundoApellido</td>
                    <td>@objElemento.Estatus</td>
                    <td class="text-center"><a class="btn btn-primary">Ver detalles</a></td>
                </tr>
            }
        </table>
    </div>
</div>

